
{% extends "padre.html" %}

{% load static %}

{% block contenido%}
    <h1>Formulario - agregar estilo de cerveza</h1>

   
    
    <form action="crv_alta_form" method="POST">
        {% csrf_token %}

        <p>Estilo</p>
        <input type="text" name = "estilo" >
        <p>Ibu</p>
        <input type="number" name = "ibu">
        <p>Alcohol</p>
        <input type="number" name = "alcohol">
        <p>Cuerpo</p>
        <input type="text" name = "cuerpo" >
        <p>Amargor</p>
        <input type="text" name = "amargor" >
        <p>Aroma</p>
        <input type="text" name = "aroma">
        <p>Temperatura de consumo</p>
        <input type="number" name = "temp_consumo" >
    

    
        <input type="submit" , value="Eviar">
    


    
    
    </form>
{% endblock%}




