
{% extends "padre.html" %}

{% load static %}

{% block contenido%}
    <h1>Formulario - agregar producto</h1>

   
    
    <form action="{% url 'prs_edit_form' prs.id %}" method="POST">
        {% csrf_token %}

        <p>Nombre del producto:</p>
        <input type="text" name = "nombre_producto" >
        <p>Tipo de producto</p>
        <input type="text" name = "tipo_producto">
        <p>Fecha de registro</p>
        <input type="date" name = "fecha_registro">    

    
        <input type="submit" , value="Eviar">
    


    
    
    </form>
{% endblock%}



