{% extends "padre.html" %}

{%  load static %}


{% block contenido %}
    
    
    <div class="container">

        <div class="row">           
            <div class="col">
                <div class="card" >
                    <img src="{%  static 'productos/assets/img/vino.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Color: {{color}}</h5>
                      <p class="card-text">Estado: {{estado}}</p>
                      <p class="card-text">Envejecimiento (en años): {{envejecimiento}}</p>
                      <p class="card-text">Calidad del vino: {{calidad}}</p>
                      <p class="card-text">Contenido de azucar (en g/l): {{azucar}}</p>
                    </div>
                </div>
            </div>
        </div>


    </div>




    

{% endblock %}