{% extends "padre.html" %}

{%  load static %}


{% block contenido %}
    
    
    <div class="container">

        <div class="row">           
            <div class="col">
                <div class="card" >
                    <img src="{%  static 'productos/assets/img/whisky.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Tipo: {{tipo}}</h5>
                      <p class="card-text">Materia prima: {{materia_prima}}</p>
                      <p class="card-text">Destilacion: {{destilacion}}</p>
                      <p class="card-text">Tipo de agua utilizada: {{tipo_agua}}</p>
                      <p class="card-text">Tiempo de destilado: {{tiempo}}</p>
                    </div>
                </div>
            </div>
        </div>


    </div>


    

{% endblock %}